body {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  font-family: "Maven Pro", sans-serif !important;
  background-image: url("/images/bg.png");
  background-size: 350px;
  background-repeat: repeat;
}

h2, h5 {
  margin-bottom: 0px;
}